---
import { getCollection } from 'astro:content';

const books = await getCollection('books');
---

<html lang="en">
  <body style="font-family: system-ui; padding: 40px;">
    <h1>Books</h1>

    <ul>
      {books.map((book) => (
        <li>
          <strong>{book.data.title}</strong> by {book.data.author} - {book.data.rating}/5
        </li>
      ))}
    </ul>
  </body>
</html>
